/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
/* Підключення обнуляючого файлу */
@import url("reset.css");
/* Домашня робота */
body {
	font-family: "Epilogue", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class *= "__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 15px;
}
/* Header */
.header {
	background: #28293E;
	color: #fff;
}
.header__container {
	display: flex;
	column-gap: 15px;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
	padding-block: 10px;
}
.header__logo {
	display: flex;
	column-gap: 14px;
	align-items: center;
	position: relative;
	z-index: 5;
}
.logo__text {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33;
}
.header__menu {
	flex-basis: 515px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
	justify-content: space-between;
	align-items: center;
}
.menu__item {
	line-height: 2;
}
.header__button {
	flex-basis: 152px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 15px;
	position: relative;
	z-index: 5;
}
.button__link {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	padding: 17px 34px 16px 35px;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.30);
	transition: border 0.3s;
}
.button__icon {
	display: none;
}
.icon-menu span {
	margin-block: 6px;
}
@media (max-width: 992px) {
	.icon-menu {
		display: flex;
		flex-direction: column;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		height: 2px;
		width: 30px;
		background-color: #fff;
		transition: all 0.3s;
	}
	.button__link {
		padding: 14px 27px 13px 28px;
	}
	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(1.5px);
	}
	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-1.5px);
	}
	.menu__body {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		transition: inset-inline-start 0.3s;
		z-index: 2;
		overflow: auto;
		padding: 100px 15px 30px;
		background-color: #28293E;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		block-size: 80px;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: #0f0f0f;
		transition: inset-inline-start 0.3s;
	}
	.menu__list {
		flex-direction: column;
		border: none;
		align-items: flex-end;
		background-color: transparent;
		row-gap: 25px;
		}
	.menu__link {
		font-size: 24px;
		padding: 0;
	}
	.open-menu .menu__body,
	.open-menu .menu__body::before {
		inset-inline-start: 0;
	}
}
@media (max-width: 500px) {
	.header__container {
		column-gap: 10px;
	}
	.header__logo {
		column-gap: 10px;
	}
	.logo__text {
		font-size: 18px;
	}
	.button__link {
		padding: 12px 15px 11px 16px;
	}
}
@media (any-hover:hover) {
	.menu__link:hover {
		text-decoration: underline;
	}
	.button__link:hover {
		border: 1px solid rgba(255, 255, 255, 1);
	} 
}