/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Alegreya:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap");
/* Підключення обнуляючого файлу */
@import url("reset.css");
/* Завдання по пройденому матеріалу */
body {
	font-family: "Alegreya", serif;
	background-color: rgba(242,239,220,0.3);
}
.container {
	max-width: 75%;
	margin: 0 auto;
}
.title {
	font-weight: 600;
	font-size: 40px;
}
.image img{
	width: 80%;
}
.link {
	font-size: 20px;
	text-decoration: underline;
}
.text {
	font-size: 18px;
}
/* Header */
.header {
	padding: 30px 15px;
}
.header-menu {
	text-align: center;
}
.header-title {
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 20px;
}
.header-list li{
	display: inline-block;
	margin: 5px;
	padding: 10px;
	background-color: #999;
}
.header-link {
	color: blue;
	margin-bottom: 15px;
}
/* Social */
.social {
	text-align: center;
	padding: 30px 15px;
}
.social-title {
	margin-bottom: 20px;
}
.social-image {
	margin-bottom: 20px;
}
.social-text {
	text-align: left;
}
.social-text p {
	margin-bottom: 5px;
}
/* Fisical */
.fisical {
	text-align: center;
	padding: 30px 15px;
}
.fisical-title {
	margin-bottom: 20px;
}
.fisical-image {
	margin-bottom: 20px;
}
.fisical-text {
	text-align: left;
}
.fisical-text p {
	margin-bottom: 5px;
}
/* Environment */
.environment {
	text-align: center;
	padding: 30px 15px;
}
.environment-title {
	margin-bottom: 20px;
}
.environment-text {
	text-align: left;
}
.environment-text p {
	margin-bottom: 5px;
}
/* Hunting */
.hunting {
	text-align: center;
	padding: 30px 15px;
}
.hunting-title {
	margin-bottom: 20px;
}
.hunting-image {
	margin-bottom: 20px;
}
.hunting-text {
	text-align: left;
}
.hunting-text p {
	margin-bottom: 5px;
}
/* Reproduction */
.reproduction {
	text-align: center;
	padding: 30px 15px;
}
.reproduction-title {
	margin-bottom: 20px;
}
.reproduction-image {
	margin-bottom: 20px;
}
.reproduction-text {
	text-align: left;
}
.reproduction-text p {
	margin-bottom: 5px;
}
.reproduction-text span {
	font-weight: 700;
}
/* Protection */
.protection {
	text-align: center;
	padding: 30px 15px;
}
.protection-title {
	margin-bottom: 20px;
}
.protection-image {
	margin-bottom: 20px;
}
.protection-text {
	text-align: left;
}
.protection-text p {
	margin-bottom: 5px;
}
/* Footer */
.footer {
	padding: 30px 15px;
}
.footer-text p {
	margin-bottom: 5px;
}
.footer-linl {
	color: darkgreen;
}
/* Скрін 01 */
.streaming {
	font-family: "Manrope", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background-color: #141414;
	max-width: 1597px;
	overflow: hidden;
}
.streaming-title {
	font-size: 38px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 14px;
}
.streaming-text {
	color: #999;
	margin-bottom: 80px;
}
.streaming-items {
	margin-left: -30px;
	margin-right: -30px;
	font-size: 0;
}
.item {
	padding: 50px 80px 50px 80px;
	width: 33.333%;
	display: inline-block;
	font-size: 18px;
	background: linear-gradient(222deg, rgba(229, 0, 0, 0.50) -208.03%, rgba(229, 0, 0, 0.00) 41.32%), #0F0F0F;;
}
.item-image {
	padding: 16px;
	display: inline-block;
	vertical-align: middle;
}
.item-title {
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	width: 60%;
	display: inline-block;
	margin-left: 16px;
}
.item-text {
	margin-top: 30px;
	color: #999;
	width: 125%;
}
/* Скрін 02 */
.produkt {
	font-family: "Roboto", sans-serif;
	padding: 30px 15px;
}

.produkt-title {
	font-size: 50px;
	font-weight: 600;
	width: 539px;
	color: #091133;
	line-height: 1.32;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.produkt-text {
	font-size: 18px;
	width: 539px;
	line-height: 1.67;
	color: #505F98;
	margin-bottom: 76px;
}
.produkt-text p {
	margin-bottom: 10px;
}
.produkt-btn a {
	width: 189px;
	height: 30px;
	background: #111B47;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.63;
	padding-top: 2px;
	text-align: center;
	margin-right: 30px;
}
/* Скрін 03 */
.design {
	font-family: "Roboto", sans-serif;
	padding: 30px 15px;
}
.design-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 1.33;
	width: 520px;
	color: #091133;
	margin-bottom: 16px;
}
.design-text {
	line-height: 1.63;
	width: 520px;
	color: #6F7CB2;
	margin-bottom: 71px;
}
.design-text span{
	display: inline-block;
	padding-top: 10px;
}
.design-block {
	margin-left: -30px;
	margin-right: -30px;
	max-width: 520px;
	font-size: 0;
}
.block {
	width: 50%;
	display: inline-block;
	padding: 30px;
}
.block-image {
	margin-bottom: 14px;
}
.block-title {
	margin-bottom: 6px;
	font-weight: 500;
	line-height: 1.63;
}
.block-text {
	font-size: 12px;
	line-height: 1.5;
}